module.exports = {
  emailTransport: {
    host: 'localhost',
    port: 1025
    // auth: { user: '####', pass: '####' }
  },
  emailOptions: {
    from: 'Your Name Here <example@example.com>'
  },
  mails: {
    confirmation: 'https://htmlcontent'
  },
  host: 'http://localhost:3000/',
  redisPrefix: 'jlm2017:bureauxVote:',
  secret: 'fish keyboard',
  https: false
};
