extends layout

block content

  .container
    .row
      if errors
        each error in errors
          p.col-responsive= error
    .row
      h1 Pour quelle role postulez vous&nbsp;?
    .row
      .col-sm-6
        a.btn.btn-primary.btn-group(role="button" href="/delegue")
          p Je souhaite être délégué dans un bureau de vote
      .col-sm-6
        a.btn.btn-primary.btn-group(role="button" href="/asseseur")
          p Je souhaite être un asseseur dans un bureau de vote
