extends layout

block content

  script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js")
  .container
    h1.text-center Sélectionnez votre bureau de vote
    .row
      .col-responsive
        if message && message['errorSearch']
          p.text-important.text-center= message['errorSearch']
        form(action="/commune" method="POST")
          .form-group(class=errors && errors.adresse ? "has-error" : "")
            label 1. Choisissez votre commune d'inscription sur les listes électorales
            input.form-control.input-block.selectized(type="text" id="commune-input" name="insee" required)
          input.btn.btn-primary.btn-block(type="submit" value="Sélectionner")

  script.
    $(function() {
      var communeSelectize = $('#commune-input').selectize({
        load: function(query, callback) {
          if (!query.length) return callback();
          var url = 'https://api-adresse.data.gouv.fr/search/?q=' + query + '&type=municipality&limit=20';
          url = $('#zipcode').length > 0 ? (url + '&postcode=' + $('#zipcode').val()) : url;
          $.ajax({
            url: url,
            dataType: 'json',
            success: function(res) {
              var list = res.features.map(function(feature) {
                return {
                  citycode: feature.properties.citycode,
                  label: feature.properties.city + ', ' + feature.properties.context
                };
              });
              return callback(list);
            }
          });
        },
        searchField: 'label',
        valueField: 'citycode',
        labelField: 'label',
        maxItems: 1,
        create: false
      });
    });
