extends layout

block content

  script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js")
  .container
    h1.text-center Sélectionnez votre bureau de vote
    .row
      .col-responsive
        if message && message['errorSearch']
          p.text-important.text-center= message['errorSearch']
        form(action="/commune" method="POST")
          .form-group(class=errors && errors.adresse ? "has-error" : "")
            label 1. Choisissez votre commune
            input.form-control.input-block.selectized(type="text" id="insee" name="insee" required)
          input.btn.btn-primary.btn-block(type="submit" value="Sélectionner")

  script.
    $(function() {
        var loadCommunes = function(query, callback) {
            if (query.length < 3) return callback();
            $.ajax({
                url: '/recherche/suggestions/communes?q=' + query,
                type: 'GET',
                dataType: 'JSON',
                data: {
                    q: query,
                    page_limit: 10,
                },
                error: function(res) {
                  callback();
                },
                success: function(res) {
                  var options = res.map(function(commune, index) {
                    return {
                      insee: commune.item.insee,
                      label: commune.item.nomcom + ', ' + commune.item.dep,
                      score: commune.score,
                      search: query
                      };
                  });
                  return callback(options);
                }
            });
        };

        var select = $('#insee').selectize({
            maxItems: 1,
            valueField: 'insee',
            labelField: 'label',
            searchField: 'search',
            create: false,
            sortField: 'score',
            load: loadCommunes
        });
        select[0].selectize.clear();
        select[0].selectize.clearOptions();
    });
