extends layout

block content

  .container
    h1 Merci de votre implication&nbsp;!

    p.
      Vous allez recevoir un e-mail pour confirmer votre demande. Merci de
      l'ouvrir et de cliquer sur le lien qui s'y trouve.
