extends layout

block content

  script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js")
  .container
    h1 Recherche des bureaux de Vote&nbsp;:
    if message && message['errorSearch']
      p.text-important.text-center= message['errorSearch']
    form(action="/recherche" method="POST")
      .form-group(class=errors && errors.adresse ? "has-error" : "")
        label Commune
        input.form-control.input-block.selectized(type="text" id="input-tags" tabindex="-1" name="insee" required)
      input.btn.btn-primary.btn-block(type="submit" value="Trouver les bureaux de vote" style="white-space: normal;")

  script.
    $(function() {

        var loadCommunes = function(query, callback) {
            if (query.length < 3) return callback();
            $.ajax({
                url: 'http://localhost:3000/recherche/suggestions/?q=' + query,
                type: 'GET',
                dataType: 'JSON',
                data: {
                    q: query,
                    page_limit: 10,
                },
                error: function(res) {
                  callback();
                },
                success: function(res) {
                  var options = res.map(function(commune, index) {
                    return {
                      insee: commune.insee,
                      label: commune.nomcom + ', ' + commune.dep,
                      score: index,
                      search: query
                      };
                  });
                  return callback(options);
                }
            });
        };

        var select = $('#input-tags').selectize({
            maxItems: 1,
            valueField: 'insee',
            labelField: 'label',
            searchField: 'search',
            create: false,
            sortField: 'score',
            load: loadCommunes
        });
        select[0].selectize.clear();
        select[0].selectize.clearOptions();
    });
