extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js")
  .container
    h1.text-center Sélectionnez votre bureau de vote
    .row
      .col-responsive
        p.
          1. Choisissez votre commune
        p.lead.text-center= commune
        if role == 'assesseurs'
          p.
            2. Choisissez votre bureau de vote
          form(method="POST", action=`/bureau`)
            select.col-responsive(name="bureau")
              each bur in listeBur
                option(value=bur.bur) #{bur.bur}
            input.btn.btn-primary.btn-block(type="submit" value="Sélectionner" style="white-space: normal;")
        else if role == 'delegues'
          p.
            2. Choisissez les bureaux de votes où vous voulez être délégué
          form(action="/bureau" method="POST")
            .form-group
              input.form-control.input-block.selectized(type="text" id="input-tags" tabindex="-1" name="bureau" required)
            input.btn.btn-primary.btn-block(type="submit" value="Sélectionner" style="white-space: normal;")

    script.
      $(function() {
          var loadCommunes = function(query, callback) {
              if (query.length < 3) return callback();
              $.ajax({
                  url: '/recherche/suggestions/bureauVote',
                  type: 'GET',
                  dataType: 'JSON',
                  data: {
                      q: query,
                      page_limit: 10,
                  },
                  error: function(res) {
                    callback();
                  },
                  success: function(res) {
                    var options = res.map(function(bureau, index) {
                      return {
                        numero: bureau.bur,
                        search: bureau.bur
                        };
                    });
                    return callback(options);
                  }
              });
          };

          var select = $('#input-tags').selectize({
              valueField: 'numero',
              labelField: 'numero',
              searchField: 'search',
              create: false,
              load: loadCommunes
          });
          select[0].selectize.clear();
          select[0].selectize.clearOptions();
      });
