extends layout

block content
  .container
    h1.text-center Sélectionnez votre bureau de vote
    .row
      .col-responsive
        p.
          1. Choisissez votre commune
        p.lead.text-center= commune
        p.
          2. Choisissez votre bureau de vote
        form(method="POST", action=`/bureau`)
          select.col-responsive(name="bureau")
            each bur in listeBur
              option(value=bur.bur) #{bur.bur}
          input.btn.btn-primary.btn-block(type="submit" value="Sélectionner" style="white-space: normal;")
