extends layout

block content

  .container
    h1 Escusez-nous&nbsp;!

    p La totalité des bureaux de vote de cette commune ont déjà des délégués désigné. Nous vous remercions de votre volonté d'aider la campagne.
